body {
    font-family: "Segoe UI Light","Segoe UI","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.87em;
    line-height: 1.429;
    color: #454545;
    word-wrap: break-word;
}

.wrapper {
    max-width: -webkit-calc(900px - (30px * 2));
    max-width: calc(900px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

.page-link{
    display: block;
    font-size: 18px;
}

.post-list > li {
    margin-bottom: 0;
}

table {
    margin-bottom: 15px;
    width: 100%;
}

thead {
    background-color: #2196f3;
    color: #ffffff;
}

tbody {
    background-color: #eeeeee;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
}

.post-title {
    font-size: 3em;
    font-weight: normal;
    line-height: 1.2em;
}

@media screen and (max-width:800px){
    .post-title {
        font-size: 1.9em;
    }
}